@import "../../../node_modules/bootstrap/scss/functions";
  // Create your own map
  $custom-colors: (
    "light-green": #198754
  );
  
  // Merge the maps
  $theme-colors: map-merge($theme-colors, $custom-colors);

$new-spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 12,
  8: $spacer * 18,
) ;

$spacers: map-merge($spacers, $new-spacers);

@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";

@import "../../../node_modules/bootstrap/scss/bootstrap";