//custom variables
$primary: #5fc8e6;
$secondary: #FF4891;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

//custom map
$custom-theme-colors: (
  "light-secondary": #f288b2,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
