//custom variables
$primary: #86deaf;
$secondary: #446d2d;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

//custom map
$custom-theme-colors: (
  "light-secondary": #98bd82,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
