//custom variables
$primary: #d0eefe;
$secondary: #b16585;
$dark: #000000;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

//custom map
$custom-theme-colors: (
  "light-secondary": #e699b9,
  "dark-secondary": #884862,
  "light-button": #eba5c3,
  "light-bg": #fbbcd8,

  "green-primary": #d8f6f6,
  "green-secondary": #518174,
  "green-light-secondary": #84c1b1,
  "green-light-button": #97d7c6,
  "green-light-bg": #a7e0d1,
  "green-dark-secondary": #376256,

  "lindies-primary": #F0F5FF,
  "lindies-light-secondary": #FFE0E4,
  "lindies-red-white": #FFF8F8,
  "lindies-dark-secondary":#DE2871,
  "lindies-secondary": #FF4891,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap";
