@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:wght@300;400;500;600;700&display=swap');

* {
  font-family: Inter, FiraMono, sans-serif;
}

body{
  background-color: #FFF8F8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Custom */
/* Home main container */
.container-responsivo {
  flex-flow: row nowrap;    
}

@media only screen and (max-width: 768px) {
   .container-responsivo {
      flex-flow: column nowrap;    
   }

   .p-5 {
      padding: 0 !important;
   }
};

/* Navbar adjust */
.header {
  margin-bottom: 2rem;
  padding-right: 5.5rem;
  padding-left: 5.5rem;
}

.mb-cleaner{
  margin-bottom: 0 !important;
}

.custom-font{
  font-size: .93rem !important;
  font-weight: 500;
}

/* divider */
.divider {
  margin: 11.1rem;
}