@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:wght@300;400;500;600;700&display=swap');

* {
  font-family: Inter, FiraMono, sans-serif;
}

body{
  background-color: #FFF8F8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Custom */

/*padding */


.custom-border{
  border-top: 1px solid black;
}

.fix-margin{
  margin-top: 2rem;
}
.fix-spacing{
  margin-bottom: 1.75rem;
}

.meanli{
  height: 5px;
  margin-top: 5px;
}
/* Navbar adjust */
.header {
  margin-bottom: 2rem;
  padding-right: 5.5rem;
  padding-left: 5.5rem;
}

.mb-cleaner{
  margin-bottom: 0 !important;
}

.custom-font{
  font-size: .93rem !important;
  font-weight: 500;
}

/* divider */
.divider {
  margin: 11.1rem;
}

/* home/epic styles */
.container{
  margin-left: 11rem !important;
  margin-right: 11rem !important;
}

.text-area{
  gap: 1.6rem !important;
}

.title{
  font-size: 3.5rem !important;
  font-weight: 600;
  margin-right: 8rem !important;
  margin-bottom: 1.6rem !important;
  line-height: 1;
}

.subtitle{
  font-size: 1.75rem !important;
  font-weight: 400;
  text-align: justify;
}

.custom-buttom-1{
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 6.25rem !important;
  padding: .8rem !important;
}


.custom-buttom-1:hover{
  color: white;
  background-color: #DE2871
}

.custom-buttom-2{
  color: #FF4891;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 6.25rem !important;
  padding: .8rem !important;
}

.custom-buttom-2:hover{
  color: #FF4891;
  background-color: #fde6ea;
}

.home-image{
  width: 30.8rem;
}

/* Home main container */
.container-responsivo {
  flex-flow: row nowrap;    
}

@media only screen and (max-width: 768px) {
   .container-responsivo {
      flex-flow: column nowrap;    
   }

   .p-5 {
      padding: 0 !important;
   }
};

