@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  font-family: Roboto, Fira Mono, sans-serif;
}

body {
  background-color: #b4d0fb;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Custom */
/* divider */
.divider {
  margin: 14rem;
}

.divider-2 {
  margin: 6rem;
}

@media only screen and (max-width: 768px) {
  .divider {
    margin: 5rem;
  }
  .divider-2 {
    margin: 2rem;
  }
}
