@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:wght@300;400;500;600;700&display=swap');

* {
  font-family: Inter, FiraMono, sans-serif;
}

body {
  background-color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Custom */
/* divider */
.divider {
  margin: 11.7rem;
}

@media only screen and (max-width: 768px) {
  .divider {
    margin: 4.8rem;
  }
}
