.carousel-size-control {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.carousel-container {
  margin: auto;
  width: 55%;
  /* height: 53vh; */
}

.carousel-indicators {
  margin: 0;
}

.rounded-card {
  border-radius: 6.75rem;
  /* margin-top: 2.5rem; */
  /* margin-bottom: 3rem; */
}

.subtitle {
  font-family: 'Fira Mono';
}

.card-body {
  color: black;
}

.card-title {
  width: 80%;
}

.card-text {
  margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
  .carousel-size-control {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .carousel-container {
    margin: auto;
    width: 97vw;
    /* min-height: 60vh;
    max-height: 55vh; */
    /* height: 57vh; */
  }

  .carousel-indicators {
    margin-bottom: 0.25rem;
  }

  .carousel-control-prev {
    align-items: end;
    /* margin-bottom: 1.65rem; */
  }
  .carousel-control-prev-icon {
    align-items: end;
    /* margin-bottom: 1.65rem; */
  }

  .carousel-control-next {
    align-items: end;
  }
  .carousel-control-next-icon {
    align-items: end;
    /* margin-bottom: 1.65rem; */
  }

  .rounded-card {
    border-radius: 6.75rem;
    margin-bottom: 0 !important;
  }
}
