#contact {
  margin-bottom: 5vh;
}

left-responsive-fix {
  margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
  #contact {
    padding-top: 15vh;
    margin-bottom: 30vh;
    height: 100vh;
  }
  .text-area {
    margin-right: 0 !important;
  }
}
