.header {
  margin-bottom: 2rem;
  margin-top: 1.23rem;
  margin-right: 1.23rem;
  margin-left: 1.23rem;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  border-radius: 6.25rem;
}

.header.active {
  margin-top: 0;
  margin-bottom: 2rem;
  margin-right: -1.23rem;
  margin-left: -1.23rem;
  padding-left: 5.5rem;
  padding-right: 5.5rem;
  border-radius: 0;
  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.mb-cleaner {
  margin-bottom: 0 !important;
}

.custom-font {
  font-size: 0.93rem !important;
  font-weight: 500;
}

.navigation-menu {
  margin-left: auto !important;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li a {
  width: 100%;
}

.hamburger {
  border: 0;
  height: 2.3rem;
  padding: 0.5rem;
  border-radius: 35%;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  display: none;
}

@media only screen and (max-width: 768px) {
  .header {
    /* width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: 0.07rem;
    margin-right: 0.07rem;
    margin-top: 0.3rem; */
    margin-top: 0.3rem;
    margin-left: 0.07rem;
    margin-right: 0.07rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .header.active {
    border-radius: 0;
    /* border-bottom-right-radius: 2.25rem;
    border-bottom-left-radius: 2.25rem; */
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }

  .logo {
    font-size: 1.3rem !important;
  }

  .navigation {
    width: 100%;
    color: black;
    margin: 0 !important;
  }

  .hamburger {
    display: block;
    padding: 0 !important;
  }
  .navigation-menu ul {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 3.8rem);
    background-color: white;
    display: none;
    padding: 1rem;
  }

  .responsive-nav-item {
    margin-bottom: 1rem !important;
  }

  .responsive-custom-font {
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    padding: 0 !important;
  }
  .navigation-menu ul {
    position: absolute;
    flex-direction: column;
    width: 100vw;
    margin-left: -2.026rem;
    height: calc(100vh - 2rem);
    background-color: white;
    padding-top: 2rem;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
}
