.header {
  margin-bottom: 2rem;
  padding-right: 5.5rem;
  padding-left: 5.5rem;
  position: fixed-top;
}

.mb-cleaner {
  margin-bottom: 0 !important;
}

.custom-font {
  font-size: 0.93rem !important;
  font-weight: 500;
}

.navigation-menu {
  margin-left: auto !important;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.hamburger {
  border: 0;
  height: 2.3rem;
  padding: 0.5rem;
  border-radius: 35%;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  display: none;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .logo {
    font-size: 1.3rem !important;
  }

  .navigation {
    width: 100%;
    color: black;
    margin: 0 !important;
  }

  .hamburger {
    display: flex;
    position: relative;
    align-items: center;
    left: 14.2rem; /* não posso usar isso */
    top: 1.25rem; /* não posso usar isso */
  }
  .navigation-menu ul {
    position: absolute;
    top: 3.8rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 3.8rem);
    background-color: white;
    display: none;
    padding: 1rem;
  }

  .responsive-custom-font {
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    padding: 0 !important;
  }
  .navigation-menu ul {
    position: absolute;
    flex-direction: column;
    width: 100vw;
    margin-left: -2rem;
    height: calc(100vh - 2rem);
    background-color: white;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
}
