.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gridContainer{
  margin: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
}

.text{
  padding: 0;
  margin: 0;
}

.imageContainer{
  padding: 0;
  margin: 0;
  width: 100%;
}