/* home/epic styles */
.container {
  margin: auto;
  width: 70%;
}

.text-area {
  gap: 1.6rem !important;
  /* talvez n precise dessa width */
  width: 100%;
}

.title {
  font-size: 3.5rem !important;
  font-weight: 600;
  margin-bottom: 1.6rem !important;
  line-height: 1;
}

.subtitle {
  font-size: 1.75rem !important;
  font-weight: 400;
  text-align: justify;
}

.custom-buttom-1 {
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 6.25rem !important;
  padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important;
}

.custom-buttom-1:hover {
  color: rgb(247, 255, 254);
  background-color: #457266;
  transition: background-color 0.25s;
}

.custom-buttom-2 {
  color: #2f574c;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 6.25rem !important;
  padding-top: 0.65rem !important;
  padding-bottom: 0.65rem !important;
  border-color: #84c1b1;
}

.custom-buttom-2:hover {
  color: #2f574c;
  background-color: #97d7c6;
  transition: background-color 0.25s;
  border-color: #ade4d6;
}

.home-image {
  display: block;
  width: 100%;
}

/* Home main container */
.container-responsivo {
  flex-flow: row nowrap;
}

@media only screen and (max-width: 768px) {
  .p-5 {
    padding: 1.5rem !important;
  }
  .container {
    --bs-gutter-x: 0;
  }
  .container-responsivo {
    flex-flow: column nowrap;
    width: 100%;
  }
  .caixa-responsiva {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
    width: 100%;
  }
  .text-area {
    margin-right: 0 !important;
    gap: 1.6rem !important;
  }
  .title {
    font-size: 1.875rem !important;
    font-weight: 600;
    line-height: 1em;
  }
  .subtitle {
    font-size: 1.0625rem !important;
    font-weight: 400;
    text-align: justify;
    line-height: 1.3em;
    letter-spacing: 0.5px;
    margin-bottom: 0 !important;
  }
  .home-image-container {
    margin-left: 0 !important;
  }
  .home-image {
    padding-top: 1.85rem !important;
  }
}
